{% extends "main.jinja" %}
{% block page %}
  <style>
    .page-title {
      color: #607D8B;
      font-size: 2em;
    }
  </style>
  <div id="header">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #eaf8fe">
            <a class="navbar-brand" href="{{url_for('index')}}" style="max-width:5em">
              <img src="static/images/logo.png" class="img-fluid" />
              <span class="page-title">PixelMath</span>
            </a>
          </nav>
      </div>
  </div>
  <div class="container wow zoomIn" style="margin-top: 7em;">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>10% Royalty on Content Contribution at PixelMath</h3>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3">
        <p>We are a team of designers, educators and Math enthusiasts.</p>
        <p>We are designing a Maths Practice App - PixelMath - for students Grade 3 to 12. PixelMath employs principles of Game Design, Learning Sciences and Positive Psychology to make practicing maths fun and engaging.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3">
        <p>To help us make creative and innovative content for our app, we are crowdsourcing our content creation. Contributors will be offered 10% royalty on their contributions.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3">
        <p>Initial response for our app from the first 50 test users have been overwhelming. Currently, we are constantly working on getting feedback from them and making the app better. We plan to launch the app by May 1st.</p>
        <p>You can look at a short demo video of the beta version of our app here:</p>
        <p><a href="https://www.youtube.com/watch?v=IyzX5famBVI">Demo video</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3">
        <p>If you are interested in becoming one of our contributors for Primary Grades (Grade 3 - 5), please fill up the form below to help us assess your skills:</p>
        <p><a href="https://forms.gle/YwUxvJakwJaQcPFq6">Form for grades 3 to 5</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3">
        <p>If you are interested in becoming one of our contributors for Secondary Grades (Grade 6 - 10), please fill up the form below to help us assess your skills:</p>
        <p><a href="https://forms.gle/jD829oZNXnNuXutTA">Form for grades 6 to 10</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ml-3 mb-5">
        <p>We will contact the shortlisted candidates through email.</p>
        <p>For any questions or queries, please write to <a href="mailto:hello@pixelmath.org">hello@pixelmath.org</a></p>
      </div>
    </div>
  </div>
{% endblock %}
