{% extends "contest_main.jinja" %}
{% block page %}

<style>
  #white_container {
    background: #fff;
    border-radius: 1em;
  }

  @media (max-width: 480px) {
    .app-store-container {
      margin-top: 1em;
    }
  }

  .share-button-fb {
    background: #385898;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    font-size: 26px;
  }

  .share-button-whatsapp {
    background: #65d844;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    font-size: 26px;
  }
</style>

<script>
  $(function () {
    $("#custom_share_fb").click(function () {
      var win = window.open("https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=http%3A%2F%2Fpixelmath.socialshare.top%2FBnOG9R&display=popup&ref=plugin&src=share_button", "_blank");
      if (win) {
        win.focus();
      }
    })
    $("#custom_share_whatsapp").click(function () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        let text = `🥇  http://pixelmath.postedthis.top/wbqZP3  🏅%0a%0aParticipate in a gameful online math contest on 15th August and explore how problem-solving in maths can be a fun, engaging and collaborative experience.%0a%0aNo registration costs!￼`
        let whatsapp_url = `https://api.whatsapp.com/send?text=${text}`;
        window.open(whatsapp_url, "_blank");
      } else {
        let text = `🥇  http://pixelmath.postedthis.top/wbqZP3  🏅%0a%0aParticipate in a gameful online math contest on 15th August and explore how problem-solving in maths can be a fun, engaging and collaborative experience.%0a%0aNo registration costs!￼`
        let whatsapp_url = `https://web.whatsapp.com/send?l=en&text=${text}`;
        window.open(whatsapp_url, "_blank");
      }
    })
  })
</script>

<div class="container text-center" id="white_container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
      <img src="/static/images/like.png" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <h3 style="color: #EF7064;">Successfully Registered for the Contest!</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 text-justify">
      <h4>You have successfully registered for the PixelMath Online Math Contest! You will receive details of the event
        one week prior to the event date.</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 text-justify">
      <h4>To Practice math questions for the contest, you can download and use our PixelMath App. PixelMath App is
        available on both PlayStore and App Store.</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-3 offset-lg-3 text-right-lg">
      <a id="play-store-badge" href="https://play.google.com/store/apps/details?id=com.rvjeet.pixelmath&hl=en"
        role="button" target="blank">
        <img width="80%" src="static/images/google-play-badge.png">
      </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-left-lg app-store-container">
      <a id="app-store-badge" href="https://apps.apple.com/in/app/pixelmath/id1507433163" role="button" target="blank">
        <img width="80%" height="90%" src="static/images/app-store-badge.png">
      </a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 text-justify">
      <h4>Follow and like our Facebook page to stay updated with the event. All the Best!</h4>
    </div>
  </div>
  <!-- <div class="row mb-5 mt-5">
    <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-5 text-center mb-5">
      <a href="https://www.facebook.com/PixelmathOfficial/" target="blank">
        <img width="100%" src="static/images/follow_on_fb.png">
      </a>
    </div>
  </div> -->
  <div class="row mb-5 mt-5">
    <div class="col-sm-12 col-md-6 col-lg-2 offset-lg-4 text-right-lg">
      <button class="share-button-fb" id="custom_share_fb"><i style="color: white;" class="fab fa-facebook"></i>
        Share</button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 text-left-lg app-store-container mb-5">
      <button class="share-button-whatsapp" id="custom_share_whatsapp"><i style="color: white;"
          class="fab fa-whatsapp"></i> Share</button>
    </div>
  </div>
</div>

{% endblock %}