{% extends "contest_main1.jinja" %}

{% block page %}

<style>
    .main-contest-container {
        color: #0c293e;
    }

    .desktop-bg-container {
        background-image: url('static/images/contest_bg.jpg');
        height: 100vh;
        background-size: cover;
    }

    .contest-form-container {
        background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('static/images/contest_form_bg.png');
        background-size: cover;
        background-repeat: repeat;
        /* opacity: 0.3; */
    }

    .contest-input {
        border: 1px solid #0c293e;
        padding: 1.5em 1em;
        border-radius: 0.75em;
    }

    .contest-submit-button {
        background-color: #0c293e;
        border: none;
        border-radius: 1em;
        width: 100%;
        padding: 0.75em 0.5em;
        font-size: 1.3em;
        color: white;
    }

    #share-fb:hover {
        cursor: pointer;
    }

    #share-whatsapp:hover {
        cursor: pointer;
    }
</style>

<script>
    $(function () {
        $("#share-fb").click(function () {
            var win = window.open("https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=http%3A%2F%2Fpixelmath.socialshare.top%2FBnOG9R&display=popup&ref=plugin&src=share_button", "_blank");
            if (win) {
                win.focus();
            }
        })
        $("#share-whatsapp").click(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                let text = `🥇  http://pixelmath.postedthis.top/wbqZP3  🏅%0a%0aParticipate in a gameful online math contest on 15th August and explore how problem-solving in maths can be a fun, engaging and collaborative experience.%0a%0aNo registration costs!￼`
                let whatsapp_url = `https://api.whatsapp.com/send?text=${text}`;
                window.open(whatsapp_url, "_blank");
            } else {
                let text = `🥇  http://pixelmath.postedthis.top/wbqZP3  🏅%0a%0aParticipate in a gameful online math contest on 15th August and explore how problem-solving in maths can be a fun, engaging and collaborative experience.%0a%0aNo registration costs!￼`
                let whatsapp_url = `https://web.whatsapp.com/send?l=en&text=${text}`;
                window.open(whatsapp_url, "_blank");
            }
        })
        $("#submit_contest").click(function () {
            let data = {
                name: $("#name").val(),
                email: $("#email").val(),
                mobile_number: $("#mobile_number").val(),
                grade: $("#grade").val()
            }
            $.ajax({
                url: "{{url_for('api.contest_registration')}}",
                type: 'post',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    window.location.href = "{{url_for('main.confirmation')}}";
                },
                error: function (result) {
                    Swal.fire(
                        'Uh Oh!',
                        result.responseJSON.message,
                        'error'
                    )
                },
                complete: function (data) {
                    $('.main-container').removeClass('blur');
                    $(':button').prop('disabled', false);
                    $("#loader").hide();
                }
            });
        })
    })
</script>

<div class="main-contest-container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 contest-form-container">
            <div class="row p-3 m-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img src="/static/images/logo.png" width="50em" />
                    <span style="font-size: 1.5em; color: #0c293e;"><b>PixelMath</b></span>
                </div>
            </div>
            <div class="row m-3 mt-5">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <h2 style="font-weight: 900; padding: 0;">Register</h2>
                    <h6 style="padding: 0;">For Contest</h6>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 text-center" style="width: auto !important;">
                            <i class="fa fa-award" style="font-size: 2em; color: #801a17;"></i>
                            <h6 style="font-size: 0.75em;">Fastest Finger</h6>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 text-center" style="width: auto !important;">
                            <i class="fa fa-trophy" style="font-size: 2em; color: #f7b643;"></i>
                            <h6 style="font-size: 0.75em;">Most Accurate</h6>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 text-center" style="width: auto !important;">
                            <i class="fa fa-medal" style="font-size: 2em; color: #23395d;"></i>
                            <h6 style="font-size: 0.75em;">Best Team</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-3 mt-5">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="name" class="contest-input form-control" placeholder="Student's Name" />
                </div>
            </div>
            <div class="row m-3 mt-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input type="email" id="email" class="contest-input form-control" placeholder="Email" />
                </div>
            </div>
            <div class="row m-3 mt-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="mobile_number" class="contest-input form-control" placeholder="Mobile Number"
                        value="+91 " />
                </div>
            </div>
            <div class="row m-3 mt-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <select class="contest-input form-control" style="padding: 0; padding-left: 1em; height: 3em;"
                        id="grade">
                        <option value="">Grade</option>
                        <option value="3">Grade 3</option>
                        <option value="4">Grade 4</option>
                        <option value="5">Grade 5</option>
                        <option value="6">Grade 6</option>
                        <option value="7">Grade 7</option>
                        <option value="8">Grade 8</option>
                        <option value="9">Grade 9</option>
                        <option value="10">Grade 10</option>
                    </select>
                </div>
            </div>
            <div class="row m-3 mt-5">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button class="contest-submit-button" id="submit_contest">Submit</button>
                </div>
            </div>
            <div class="row m-3 mt-3">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <span id="share-fb"><i class="fab fa-facebook" style="font-size: 2em; color: #4064ac"></i></span>
                    <span id="share-whatsapp"><i class="fab fa-whatsapp"
                            style="font-size: 2em; color: #62d467"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 desktop-bg-container">
            <div class="row pr-5">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-5 pr-5">
                    <a id="download-google"
                        href="https://play.google.com/store/apps/details?id=com.rvjeet.pixelmath&hl=en" role="button"
                        target="blank"><img src="static/images/google_play_button.svg"
                            style="width: 2.5em; vertical-align: baseline;"></a>
                    <a id="download-apple" href="https://apps.apple.com/in/app/pixelmath/id1507433163" role="button"
                        target="blank"><img src="static/images/app_store_icon.png"
                            style="width: 2.5em; vertical-align: baseline; margin-left: 1em;"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 pl-5 pt-5">
                    <h3 style="font-weight: 900; padding: 0;">Online</h3>
                    <h1 style="font-weight: 900;">Math Contest</h1>
                    <h5 style="padding: 0;">On 15th of August, 2020</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}