{% extends "main.jinja" %}
{% block page %}
<style>
  blockquote {
    position: relative;
    font-family: inherit;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    line-height: 2
  }

  blockquote::before {
    position: absolute;
    content: "‘";
    color: #418AD1;
    font-size: 15em;
    opacity: 0.2;
    top: -0.5em;
    left: -0.05em;
    right: unset
  }

  blockquote::after {
    position: absolute;
    content: "‘";
    color: #418AD1;
    font-size: 15em;
    opacity: 0.5;
    top: -0.5em;
    left: -0.25em;
    right: unset
  }

  .action-button-style {
    background-color: #5dca88;
    color: white;
    font-weight: 900;
    padding: 1em;
    border-radius: 3em;
    border: none;
  }
</style>
<div id="header">
  <div class="container">
    <nav class="navbar container fixed-top navbar-expand navbar-light" style="background-color: #eaf8fe;">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <a class="navbar-brand" href="/">
          <img src="/static/images/logo.png" width="50em" />
          <span style="font-size: 1.5em; color: black;"><b>PixelMath</b></span>
        </a>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.contest')}}" style="color: #607D8B;">
              <button class="action-button-style">Contest</button>
            </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0"> </form>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 align-content-center wow zoomIn" style="padding:10px; margin-top: 17vh;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 style="color: #607D8B;"><b>Make maths practice as <span style="color: #5dca88">fun</span> and <span
                  style="color: #ed3833">addictive</span> as Games</b></h1>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p style="color: #607D8B"><small>PixelMath is a math practice app which uses principles from Game Design,
                Learning
                Sciences and
                Positive Psychology to make math practice a fun and collaborative experience for students.</small></p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 px-3 pt-3 mt-3" style="margin-top:-50px;">
            <a id="play-store-badge" href="https://play.google.com/store/apps/details?id=com.rvjeet.pixelmath&hl=en"
              role="button">
              <img width="48%" src="static/images/google-play-badge.png">
            </a>
            <a id="app-store-badge" href="https://apps.apple.com/in/app/pixelmath/id1507433163" role="button"><img
                width="42%" src="static/images/app-store-badge.png"></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <p><small>Available for grade 3 to 10</small></p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <blockquote>
              <b>For the first time, my daughter wants to stick to Maths for hours altogether! Thanks!</b>
              <div class="text-right">
                <cite>~ Gunjan</cite>
              </div>
              <div class="text-right">
                <cite>Parent of Amie Grade 3 kid</cite>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 wow zoomIn" style="margin-top: 7vh;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/app-cell3.png" width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5 pb-5 features">
  <div class="row text-center">
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/gamedesign.png" alt="game design image">
      <h4>GAME DESIGN</h4>
      <p> Uses elements from game design like - goals, adaptivity, balance and feedback mechanism to make maths practice
        fun and engaging.</p>
    </div>
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/positive.png" alt="positive psychology image">
      <h4>POSITIVE PSYCHOLOGY</h4>
      <p>Incorporates elements of autonomy, competence and relatedness from positive psychology to keep players
        motivated and induce "flow" during maths practice.
      </p>
    </div>
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/learningscience.png" alt="learning science image">
      <h4>LEARNING SCIENCES</h4>
      <p>Helps students calibrate their efforts during individual practice sessions by boosting their metacognitive
        abilities.</p>
    </div>
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/machinelearning.png" alt="ml image">
      <h4>MACHINE LEARNING</h4>
      <p>Employs machine learning algorithm to learn from the players' previous responses and presents problems to
        student at the right challenging level.
      </p>
    </div>
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/idea.png" alt="collaboration image">
      <h4>COLLABORATION</h4>
      <p>Incentivizes increased collaboration and consistent practice through innovative leaderboards and user activity
        feeds.
      </p>
    </div>
    <div class="col-md-4 mt  wow slideInUp">
      <img src="static/images/dataanalytics.png" alt="dataanalytics image">
      <h4>DATA ANALYSIS</h4>
      <p> Identifies areas where the student is struggling and prepares advanced diagnostic reports for parents /
        teachers.
      </p>
    </div>
  </div>
  <!--/row -->
</div>
<!--/container -->
{% endblock %}